.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #5f937c;
  /* background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(35, 0, 255, 1) 39%
  ); */
}

.questions {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.titles {
  text-align: left;
  font-size: 30px;
  color: #ddd5c2;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.titles > * {
  border: solid;
}

.btn-score {
  border: solid;
  text-align: center;

  font-size: 35px;
  color: #ddd5c2;
}

.aaa {
  background-color: #5f937c;
}
